body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #333;
}

body::-webkit-scrollbar-thumb:active {
    background: #333;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #888;
}

body::-webkit-scrollbar-thumb {
    border-radius: 6px;
}
body {
    overflow-x: hidden;
}

/* custom card */
.basic-card {
    box-shadow: none;
}

/* custom table */
.dt-button {
    margin-bottom: 14px;
}
#bootstrap-data-table-export_length {
    margin-bottom: 14px;
}
#bootstrap-data-table-export_length label {
    float: left;
}
#bootstrap-data-table-export_length label select {
    margin: 0 12px;
}
#bootstrap-data-table-export_filter {
    margin-bottom: 14px;
}
#bootstrap-data-table-export_filter label {
    float: right;
}
#bootstrap-data-table-export_info {
    margin-top: 20px;
    width: 50%;
}
#bootstrap-data-table-export_paginate {
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#bootstrap-data-table-export_paginate ul.pagination li {
    margin: 0 12px;
}
#row-select_wrapper .row {
    width: 100%;
}
#row-select_wrapper .row:nth-child(1) .col-sm-6:nth-child(1) {
    display: none;
}
#row-select_wrapper .row:nth-child(1) #row-select_filter label {
    justify-content: start !important;
}
#row-select_wrapper .row:nth-child(3) {
    display: none;
}
