@import url('https://rsms.me/inter/inter.css');

:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto,
        Helvetica Neue, sans-serif;
}

body {
    font-feature-settings: 'cv03', 'cv04', 'cv11';
}

.quantities-input {
    width: 40px;
    height: 30px;
    text-align: center;
    outline: none;
    border: 1px solid #333;
    border-radius: 4px;
}
.custom-table-action {
    display: flex;
    align-items: center;
}
.custom-table-action input {
    margin-right: 6px;
}
.custom-table-action button {
    border: 1px solid #333;
    width: 30px;
    height: 30px;
}
.custom-table-action input::-webkit-outer-spin-button,
.custom-table-action input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.custom-table-action input[type='number'] {
    -moz-appearance: textfield;
}

.custom-product-image {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
