body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

/* custom css here */
.detailed-product-tag {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 2px;
    cursor: pointer;
    padding: 6px 8px;
    gap: 8px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.detailed-product-tag.disable {
    opacity: 0.5;
}

.detailed-product-tag.active {
    border: 2px solid rgba(230, 126, 34, 1);
}

.product-details-action-wrap button,
.product-details-action-wrap a {
    border: 1px solid #e97730;
    outline: none;
    padding: 10px 40px;
    margin-right: 12px;
    border-radius: 2px;
}
.product-details-action-wrap button.disable {
    opacity: 0.5 !important;
}
.product-details-action-wrap .add-to-cart {
    background-color: rgba(233, 119, 48, 0.2);
    color: #e97730;
}
.product-details-action-wrap .add-to-cart:hover {
    background-color: rgba(233, 119, 48, 0.1);
}
.product-details-action-wrap .buy-now {
    background-color: #e97730;
    color: white;
}
.product-details-action-wrap .buy-now:hover {
    opacity: 0.8;
}
.product-details-quantities {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.select-quantities-wrapper {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.select-quantities-wrapper button {
    width: 32px;
    height: 32px;
    outline: none;
    border: 2px solid #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-quantities-wrapper input {
    width: 60px;
    height: 32px;
    border: none;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
.select-quantities-wrapper input::-webkit-outer-spin-button,
.select-quantities-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.select-quantities-wrapper input[type='number'] {
    -moz-appearance: textfield;
}

.cart-content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-content .cart-item-info {
    display: flex;
    align-items: center;
}
.cart-content .cart-delete a {
    font-size: 16px !important;
}
.sidebar-cart-active .sidebar-cart-all .cart-content ul li .cart-img a img {
    border-radius: 12px;
}
.cart-item-info .unit-price {
    color: #fd1748 !important;
}
.cart-total span {
    color: #fd1748 !important;
}
.cart-content .product-details-action-wrap {
    justify-content: space-between;
    width: 100%;
}
.cart-content .product-details-action-wrap a {
    width: 48%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cart-list::-webkit-scrollbar {
    display: none;
}
/* #cart-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
#cart-list::-webkit-scrollbar-track {
    background-color: transparent;
} */

#cart-section .cart-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
}
#cart-section .cart-header div:nth-child(1) {
    width: 35%;
}
#cart-section .cart-header div:nth-child(2) {
    width: 20%;
}
#cart-section .cart-header div:nth-child(3) {
    width: 20%;
}
#cart-section .cart-header div:nth-child(4) {
    width: 20%;
}
#cart-section .cart-header div:nth-child(5) {
    width: 5%;
}

#cart-section .cart-content .cart-item {
    display: flex;
    align-items: center;
    padding: 24px 10px;
    border-bottom: 1px solid #ccc;
}

#cart-section .cart-item div:nth-child(2) {
    width: 20%;
}
#cart-section .cart-item > div:nth-child(3) {
    width: 20%;
}
#cart-section .cart-item div:nth-child(4) {
    width: 20%;
}
#cart-section .cart-item div:nth-child(5) {
    width: 5%;
}

#cart-section .cart-item .product-cart-item {
    width: 35%;
    display: flex;
    align-items: center;
}
#cart-section .cart-item .product-cart-item input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    margin-right: 16px;
    flex-shrink: 0;
}
#cart-section .cart-item .product-cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin-right: 10px;
}

#cart-section .cart-item .product-cart-item .info p {
    margin: 0;
}
#cart-section .cart-item .product-cart-item .info p:first-child {
    font-weight: 600;
}

.js-subtotal-price {
    color: #e97730;
}
#cart-section .cart-item .quantities-wrapper {
    display: flex;
    align-items: center;
}
#cart-section .cart-item .quantities-wrapper button {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    outline: none;
    background-color: white;
}
#cart-section .cart-item .quantities-wrapper button:hover {
    background-color: #f5f5f5;
}
#cart-section .cart-item .quantities-wrapper input {
    width: 48px;
    height: 32px;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
#cart-section .cart-item .quantities-wrapper input::-webkit-outer-spin-button,
#cart-section .cart-item .quantities-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#cart-section .cart-item .quantities-wrapper input[type='number'] {
    -moz-appearance: textfield;
}

#cart-section .cart-item .delete-item {
    cursor: pointer;
}

#cart-section .cart-item .delete-item:hover {
    color: #fd1748;
}
#checkout-cart {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 24px;
}

#checkout-cart .checkout-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#checkout-cart .checkout-content .checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#checkout-cart .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

#checkout-cart .total-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#checkout-cart .total-price-wrapper p {
    margin: 0;
}
#checkout-cart .total-price {
    font-size: 20px;
    color: #e97730;
}
#checkout-cart button,
#checkout-cart a {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
#checkout-cart button.checkout {
    background-color: #e97730;
    color: white;
}
#checkout-cart button.checkout:hover {
    opacity: 0.8;
}
#checkout-cart a.continue-shopping {
    color: #333;
    border: 2px solid #ccc;
}
#checkout-cart a.continue-shopping:hover {
    opacity: 0.8;
}
#checkout-cart .separate {
    width: 100%;
    margin: 18px 0;
    border-bottom: 1px solid #ccc;
}

.change-address-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 16px;
}

.change-address-wrapper button {
    border: none;
    background-color: #e97730;
    border-radius: 2px;
    padding: 6px 16px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    gap: 4px;
}

.custom-product-badge {
    background-color: #ccc;

    color: white !important;
    padding: 2px 16px;
}

.place-order-btn {
    width: 100%;
    padding: 12px;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    background-color: #e97730;
    color: white;
    border-radius: 2px;
}
.custom-product-img {
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* custom header action account */

.header-bottom .header-action-account {
    margin-left: 10px;
    position: relative;
}
.header-bottom .header-action-account > ul {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 20px 0.4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0.4px rgba(0, 0, 0, 0.1);
    display: block;
    right: 0;
    padding: 14px;
    position: absolute;
    top: 110%;
    width: max-content;
    border-radius: 6px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: center top 0;
    -ms-transform-origin: center top 0;
    transform-origin: center top 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    /* visibility: hidden; */
    z-index: 99;
}

.header-bottom .header-action-account > ul li {
    display: block;
    position: relative;
    line-height: 1;
    padding: 8px 0;
}
.header-bottom .header-action-account > ul li a {
    display: block;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.header-bottom .header-action-account > ul li:last-child a {
    color: #fd1748;
}
.header-bottom .header-action-account > ul li:hover > a {
    color: #e97730;
}

.header-bottom .header-action-account:hover > ul {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    visibility: visible;
}

/* Custom modal */

.modal-content {
    padding: 0 !important;
}
.modal-title {
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: start;
}
.modal-title h4 {
    margin: 0;
    font-size: 16px;
}
.modal-footer button {
    border: none;
    outline: none;
    padding: 10px;
    min-width: 140px;
    border-radius: 2px;
}
.modal-footer button:hover {
    opacity: 0.8;
}
.modal-footer button.cancel {
    background-color: white;
    border: 1px solid #e97730;
    color: #e97730;
}
.modal-footer button.submit {
    background-color: #e97730;
    border: 1px solid #e97730;
    color: white;
}
.quickview-modal-style .modal-dialog {
    max-width: 540px;
}

.address-modal-content {
    padding: 0 16px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.address-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 16px;
}
.address-item:last-child {
    border-bottom: none !important;
}
.address-item div:first-child {
    width: 10%;
}
.address-item div:last-child {
    flex: 1;
}
.address-item p {
    margin: 0;
    font-size: 14px;
}

.address-item div:last-child .heading {
    width: 100%;
    display: flex;
    align-items: center;
}
.address-item div:last-child .default-tag {
    width: max-content;
    border-color: #e97730;
    color: #e97730;
    padding: 0px 8px;
    border: 0.5px solid;
    border-radius: 1px;
    font-size: 12px;
    margin-top: 2px;
}
.address-item div:last-child .heading p:first-child {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}
.address-item div:last-child .heading .separate {
    margin: 0 8px;
    height: 20px;
    border-left: 0.5px solid rgba(0, 0, 0, 0.26);
    flex-shrink: 0;
}
/* Hide the default radio button */
.custom-radio input[type='radio'] {
    display: none;
}

/* Create a custom radio button */
.custom-radio .checkmark {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.custom-radio input:checked ~ .checkmark {
    background-color: white;
    border: 1px solid #e97730;
}

.custom-radio .checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.custom-radio input:checked ~ .checkmark:after {
    display: block;
}

.custom-radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e97730;
}

/* checkout success custom */

.checkout-container {
    border: 2px solid rgba(52, 53, 56, 0.1);
}
.checkout-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(52, 53, 56, 0.1);
    padding: 24px;
}
.checkout-left .checkout-icon {
    width: 80px;
    height: 80px;
}
.checkout-left .checkout-message h2 {
    text-align: center;
}
.checkout-left .checkout-message h2:first-child {
    font-size: 16px;
    text-transform: uppercase;
    margin: 16px 0;
}

.checkout-left .checkout-message h2:nth-child(2) {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}

.checkout-left .checkout-message p {
    font-size: 16px;
    margin: 24px 0;
}
.checkout-left .checkout-message p span {
    color: #e97730;
}
.checkout-status .title {
    font-size: 16px;
    text-align: center;
}
.checkout-status .title a,
.checkout-status .title span {
    color: #e97730;
}
.checkout-status .status-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.checkout-status .status-progress .progress-item {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}
.checkout-status .status-progress .progress-item span {
    position: absolute;
    bottom: -80%;
    width: max-content;
    left: 50%;
    font-size: 14px;
    color: #333;
    transform: translateX(-50%);
}
.checkout-status .status-progress .progress-item.active span {
    color: #1abc9c;
}
.checkout-status .status-progress .progress-item.active {
    background-color: #1abc9c;
}
.checkout-status .status-progress .progress-line {
    width: 15%;
    height: 4px;
    background-color: #ccc;
}
.checkout-status .status-progress .progress-line.active {
    background-color: #1abc9c;
}

.checkout-footer {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout-footer a {
    margin: 0 4px;
    font-size: 16px;
}
.checkout-footer a i {
    font-size: 14px;
    margin: 0 4px;
}
.checkout-footer a:hover {
    color: #e97730!important;
}

.checkout-right {
    padding: 24px;
}
.checkout-right .header h2 {
    font-size: 17px;
    font-weight: 600;
}
.checkout-right .header h3 {
    font-size: 16px;
    text-transform: uppercase;
}
.checkout-right .content {
    padding: 16px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}
.checkout-right h3 {
    font-size: 16px;
    text-transform: uppercase;
}
.checkout-right .delivery-address p {
    margin: 0;
}

.checkout-right .order-summary {
    margin-top: 24px;
}
.checkout-right .order-summary .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout-right .order-summary .item p {
    margin-bottom: 6px;
}
.checkout-right .footer {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout-right .footer span {
    font-size: 16px;
    color: #e97730;
}
