body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

/* custom css here */
.detailed-product-tag {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 2px;
    cursor: pointer;
    padding: 6px 8px;
    gap: 8px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.detailed-product-tag.disable {
    opacity: 0.5;
}

.detailed-product-tag.active {
    border: 2px solid rgba(230, 126, 34, 1);
}

.product-details-action-wrap button,
.product-details-action-wrap a {
    border: 1px solid #e97730;
    outline: none;
    padding: 10px 40px;
    margin-right: 12px;
    border-radius: 2px;
}
.product-details-action-wrap button.disable {
    opacity: 0.5 !important;
}
.product-details-action-wrap .add-to-cart {
    background-color: rgba(233, 119, 48, 0.2);
    color: #e97730;
}
.product-details-action-wrap .add-to-cart:hover {
    background-color: rgba(233, 119, 48, 0.1);
}
.product-details-action-wrap .buy-now {
    background-color: #e97730;
    color: white;
}
.product-details-action-wrap .buy-now:hover {
    opacity: 0.8;
}
.product-details-quantities {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.select-quantities-wrapper {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.select-quantities-wrapper button {
    width: 32px;
    height: 32px;
    outline: none;
    border: 2px solid #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-quantities-wrapper input {
    width: 60px;
    height: 32px;
    border: none;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
.select-quantities-wrapper input::-webkit-outer-spin-button,
.select-quantities-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.select-quantities-wrapper input[type='number'] {
    -moz-appearance: textfield;
}

.cart-content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-content .cart-item-info {
    display: flex;
    align-items: center;
}
.cart-content .cart-delete a {
    font-size: 16px !important;
}
.sidebar-cart-active .sidebar-cart-all .cart-content ul li .cart-img a img {
    border-radius: 12px;
}
.cart-item-info .unit-price {
    color: #fd1748 !important;
}
.cart-total span {
    color: #fd1748 !important;
}
.cart-content .product-details-action-wrap {
    justify-content: space-between;
    width: 100%;
}
.cart-content .product-details-action-wrap a {
    width: 48%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cart-list::-webkit-scrollbar {
    display: none;
}
/* #cart-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
#cart-list::-webkit-scrollbar-track {
    background-color: transparent;
} */

#cart-section .cart-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
}
#cart-section .cart-header div:nth-child(1) {
    width: 35%;
}
#cart-section .cart-header div:nth-child(2) {
    width: 20%;
}
#cart-section .cart-header div:nth-child(3) {
    width: 20%;
}
#cart-section .cart-header div:nth-child(4) {
    width: 20%;
}
#cart-section .cart-header div:nth-child(5) {
    width: 5%;
}

#cart-section .cart-content .cart-item {
    display: flex;
    align-items: center;
    padding: 24px 10px;
    border-bottom: 1px solid #ccc;
}

#cart-section .cart-item div:nth-child(2) {
    width: 20%;
}
#cart-section .cart-item > div:nth-child(3) {
    width: 20%;
}
#cart-section .cart-item div:nth-child(4) {
    width: 20%;
}
#cart-section .cart-item div:nth-child(5) {
    width: 5%;
}

#cart-section .cart-item .product-cart-item {
    width: 35%;
    display: flex;
    align-items: center;
}
#cart-section .cart-item .product-cart-item input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    margin-right: 16px;
    flex-shrink: 0;
}
#cart-section .cart-item .product-cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin-right: 10px;
}

#cart-section .cart-item .product-cart-item .info p {
    margin: 0;
}
#cart-section .cart-item .product-cart-item .info p:first-child {
    font-weight: 600;
}

.js-subtotal-price {
    color: #e97730;
}
#cart-section .cart-item .quantities-wrapper {
    display: flex;
    align-items: center;
}
#cart-section .cart-item .quantities-wrapper button {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    outline: none;
    background-color: white;
}
#cart-section .cart-item .quantities-wrapper button:hover {
    background-color: #f5f5f5;
}
#cart-section .cart-item .quantities-wrapper input {
    width: 48px;
    height: 32px;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
#cart-section .cart-item .quantities-wrapper input::-webkit-outer-spin-button,
#cart-section .cart-item .quantities-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#cart-section .cart-item .quantities-wrapper input[type='number'] {
    -moz-appearance: textfield;
}

#cart-section .cart-item .delete-item {
    cursor: pointer;
}

#cart-section .cart-item .delete-item:hover {
    color: #fd1748;
}
#checkout-cart {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 24px;
}

#checkout-cart .checkout-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#checkout-cart .checkout-content .checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#checkout-cart .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

#checkout-cart .total-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#checkout-cart .total-price-wrapper p {
    margin: 0;
}
#checkout-cart .total-price {
    font-size: 20px;
    color: #e97730;
}
#checkout-cart button,
#checkout-cart a {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
#checkout-cart button.checkout {
    background-color: #e97730;
    color: white;
}
#checkout-cart button.checkout:hover {
    opacity: 0.8;
}
#checkout-cart a.continue-shopping {
    color: #333;
    border: 2px solid #ccc;
}
#checkout-cart a.continue-shopping:hover {
    opacity: 0.8;
}
#checkout-cart .separate {
    width: 100%;
    margin: 18px 0;
    border-bottom: 1px solid #ccc;
}

.change-address-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 16px;
}

.change-address-wrapper button {
    border: none;
    background-color: transparent;
    color: #e97730;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    gap: 4px;
}

.custom-product-badge {
    background-color: #ccc;

    color: white !important;
    padding: 2px 16px;
}

.place-order-btn {
    width: 100%;
    padding: 12px;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    background-color: #e97730;
    color: white;
    border-radius: 2px;
}
.custom-product-img {
    border: 1px solid #ccc;
    border-radius: 6px;
}
